/* 
Base Rules
	A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudoclasses. It doesn’t include any class or ID selectors. It is defining the default styling for how that element should look in all occurrences on the page.
*/

body {
    background-color: #000;
    color: white;
    @include body-font-regular;
    @include fontSize(18px);
    line-height: 1.4;
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
}

h1 {
    @include headline-font;
    @include fontSize(78px);
    line-height: 1;
    text-align: center;
    border-style:solid;
    border-color:#fff;
    border-bottom: 4px;
    padding: 4px 5px 6px 5px;
    
}

h2 {
    border-color: #fff;
    @include fontSize(40px);
    
}

h6 {
    @include fontSize(32px);
    border-style: dashed;
    border-color: #9f9f9f;
    padding: 4px 5px 6px 5px;
    text-align: center;
}

ol {
    @include fontSize(33px);
    @include body-font-regular;
    text-align: left;
}

img {
    height: auto;
    max-width: 555px;
    text-align: center;
    padding: 5px 6px 7px 6px;
}

nav {
    background-color: #000;
    border: 3px solid $background-color;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 6px;
    padding: 4px 5px 6px 5px;
    position: fixed;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 6px;
}

nav, main, footer[role="contentinfo"] {
    margin: 0 10px;
}

article h1 {
    color: $color-title;
    @include fontSize(56px);
    margin: 48px 0;
    text-transform: capitalize;
}

article p:first-of-type {
    @include fontSize(14px);
}

article p:second-of-type {
    @include fontSize(16px);
}

figure {
    margin: 0
}

figcaption {
    @include fontSize(14px);
}

article div {
    color: #1a0707;
    @include fontSize(20px);
    @include body-font-bold;
    margin: 20px 0;
    line-height: 1;
    text-align: center
}

//main footer {
//article footer {
//main article footer {
footer[role="complementary"] {
    border-bottom: 1px #fff solid;
    border-top: 1px #fff solid;
    color: #b5b5b5;
    margin: 40px 0;
    padding: 20px 0;
    font-size: 20;
}

footer[role="complementary"] p {
    @include fontSize(18px);
}

footer[role="contentinfo"] small {
    border-top: 1px #989898 solid;
    //display: block;
    @include fontSize(14px);
    //margin-bottom: 20px;
    padding-bottom: 20px;
}